<div class='form'>
<h2><%= form_title %></h2>

<% if list.errors.any? %>
    <% list.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

  <%= form_for(list) do |f| %>
    <label for="title">Title:</label>
    <%=f.text_area :title, placeholder: 'Title Your List', class: 'form-control' %>

    <label for="difficulty">Level of Difficulty:</label>
      <%=f.text_area :difficulty, placeholder: 'How much effort are you anticipating giving this list?', class: 'form-control' %>

    <label for="energy">Energy Level:</label>
    <%=f.text_area :energy, placeholder: 'How much energy is this list going to use?', class: 'form-control' %>

    <label for="due_date">Due Date</label>
    <%=f.text_area :due_date, placeholder: '01/01/2020', class: 'form-control' %>

    <label for="reward">Reward</label>
    <%=f.text_area :reward, placeholder: 'Treat yoself', class: 'form-control' %>

    <label for="completed">Done?</label>
    <%=f.check_box :completed, class: 'form-control' %>

    <p><div class ='actions text-center'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
