<div class='list-form'>
<h2><%= form_title %></h2>

<% if list.errors.any? %>
    <% list.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

    <%= form_for(list) do |f| %>

    <span class="textarea1"></span>
      <label for="title">Title:</label>
      <%= f.text_area :title, placeholder: 'Title Your List', class: 'form-control' %>

      <label for="difficulty">Level of Difficulty:</label>
      <%= f.text_area :difficulty, placeholder: 'How much effort are you anticipating giving this list?', class: 'form-control' %>

      <label for="energy">Energy Level:</label>
      <%= f.text_area :energy, placeholder: 'How much energy is this list going to use?', class: 'form-control' %>

      <label for="due_date">Due Date</label>
      <%= f.date_field :due_date, placeholder: '01/01/2020', class: 'form-control' %>

      <label for="reward">Reward</label>
      <%= f.text_area :reward, placeholder: 'Treat yoself', class: 'form-control' %>

      <div><%= f.check_box(:completed, {}, true, false) %>
      <label for="list_completed">Complete? </label></div>

      <div><%= f.check_box(:public, {}, true, false) %>
      <label for="list_public">Make This List Public? </label></div>

      <p><div class ='actions text-center'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>


<label for="difficulty">Difficulty Level:</label>
<form action="#">
  <p class="range-field">
    <input type="range" id="test5" min="0" max="5" />
  </p>
</form>

<label for="energy">Energy Level:</label>
<form action="#">
  <p class="range-field">
    <input type="range" id="test5" min="0" max="5" />
  </p>
</form>
