<div class='grouped-title'><h4>You're feeling great today! </h4>
  <p>Here are all your lists ranked from most difficult to least. See how much you can get done while you're feeling like you can take on the world. </p>
</div>

  <div class='grouped-lists'>
  <% if lists.where(archived: false).count.zero? %>
    <p>You don't have any lists ranked 5/5 or lower :(</p>
  <% end %>

  <ul class='collection'>
    <p class='list-collection'>5
    <% lists.each do |list| %>
      <% unless list.archived? %>
        <% if list.user == current_user %>
          <% if list.difficulty == 5 %>
          <li class='list-collection'> <%= link_to list.title, list %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %></p>
  </ul>

  <ul class='collection'>
    <p class='list-collection'>4
    <% lists.each do |list| %>
      <% unless list.archived? %>
        <% if list.user == current_user %>
          <% if list.difficulty == 4 %>
          <li class='list-collection'> <%= link_to list.title, list %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %></p>
  </ul>

  <ul class='collection'>
    <p class='list-collection'>3
    <% lists.each do |list| %>
      <% unless list.archived? %>
        <% if list.user == current_user %>
          <% if list.difficulty == 3 %>
          <li class='list-collection'> <%= link_to list.title, list %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %></p>
  </ul>

  <ul class='collection'>
    <p class='list-collection'>2
    <% lists.each do |list| %>
      <% unless list.archived? %>
        <% if list.user == current_user %>
          <% if list.difficulty == 2 %>
          <li class='list-collection'> <%= link_to list.title, list %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %></p>
  </ul>

  <ul class='collection'>
    <p class='list-collection'>1
    <% lists.each do |list| %>
      <% unless list.archived? %>
        <% if list.user == current_user %>
          <% if list.difficulty == 1 %>
          <li class='list-collection'> <%= link_to list.title, list %> </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %></p>
  </ul>

  <div class='grouped-btn'>
  <%= link_to "All Lists", lists_path, class: "btn" %>
  </div>
</div>
