<div class="row">
  <div class="col s6">
    <div class="your-lists">
      <h5>Your Lists: </h5>
      <% lists.each do |list| %>
        <% if lists.where(archived: false).count.zero? %>
          You don't have any lists yet!
          <% end %>

          <% unless list.archived? %>
            <% if list.user == current_user %>
              <ul class='collection'>
                <li> <%= link_to list.title, list %> </li>
              </ul>
          <% end %>
        <% end %>
      <% end %>
      <p><%= link_to "Archived Lists", '/lists/archived' %></p>
    </div>
  </div>
  <div class="col s6">
    <div class="shared-lists">
      <h5>Lists You Have Access To:</h5>
      <ul class='collection'>
        <% lists.each do |list| %>
          <% if you_have_access_to(list) == 0 %>
            <li class='collection-item perm-users'>
              <%= link_to list.title, list %> (<%= list.user.name.capitalize %>)
            </li>
          <% end %>
        <% end %>
      <% else %>
        You do not have access to any other users' lists.
      </ul>
    </div>
    <p><%= link_to "Permissions", permissions_path %></p>
  </div>
</div>
<%= link_to "New List", new_list_path, class: "btn" %>
