<h4>Your Lists: </h4>
<% if lists.where(archived: false).count.zero? %>
  You don't have any lists yet!
<% end %>

  <% lists.each do |list| %>
  <% unless list.archived? %>
    <% if list.user == current_user %>
      <ul class='collection'>
        <li> <%= link_to list.title, list %> </li>
      </ul>
    <% end %>
  <% end %>
<% end %>

<h4>You Have Access To: </h4>
<ul class='collection'>
  <% lists.each do |list| %>
    <% if you_have_access_to(list) == 0 %>
      <li class='collection-item perm-users'>
        <%= link_to list.title, list %> (<%= list.user.name.capitalize %>)
      </li>
    <% end %>
  <% end %>
<% else %>
  You do not have access to any other users' lists.
</ul>

<%= link_to "New", new_list_path, class: "btn" %>
<p><%= link_to "Permissions", permissions_path %></p>
<p><%= link_to "Archived Lists", '/lists/archived' %>
