<div class="list-show">
  <div class="row">
    <div class="list-col col s12 m6">
      <div class='list-tasks'><h2><%= list.title %></h2>
        <ol>
          <% list.tasks.each do |task| %>
          <li>
            <%= task.title %>
          </li>
          <% end %>
        </ol>
      </div>
    </div>

    <div class="list-col col s12 m6">
      <ul>
        <li>Difficulty level: <%= list.difficulty %></li>
        <li>Energy level: <%= list.energy %></li>
        <li>Due date: <%= list.due_date %></li>
        <li>Reward: <%= list.reward %></li>
        <li>Completed? <%= list.completed %></li>
      </ul>
    </div>
