<h2><%= list.title %></h2>
  <p><% list.tasks.each do |task| %>
    <%= link_to task.title, task %></p>
  <% end %>

  <%= link_to "Add Task", new_task_path(list_id: list.id), class: "btn btn-default" %>
  <%= link_to "Edit", edit_list_path(list), class: "btn btn-default" %>
     <%= link_to "Archive", list_path(list), class: "btn btn-default" %>
     <!-- fix this button to archive -->
