<h2><%= list.title %></h2>
  <p><% list.tasks.each do |task| %>
    <%= link_to task.title, task %></p>
  <% end %>

  <%= form_for(permission) do |f| %>
    <div><label for="user_id">Give Someone Access to Your List: </label>
    <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %></div>

    <div><%= f.check_box(:all_access, {}, true, false) %>
    <label for="permission_all_access">All Access? </label></div>

    <%= f.hidden_field :list_id, value: list.id %>

    <div>
      <%= f.submit class: "waves-effect waves-light btn" %>
    </div>
  <% end %>

  <p>Can See This List:  </p>
    <% list.permissions.uniq.each do |perm| %>
      <p><%= perm.user.name.capitalize %> -
        <% if perm.all_access? %>
        <%= puts "All Access" %>
        <% else %>
        <%= puts "#{list.title}" %>
        <% end %>
         <%= link_to "Remove Access", permission_path(perm), method: :delete %></p>
    <% end %>

  <%= link_to "Add", new_permission_path, class: "btn btn-primary" %>
  <%= link_to "Add Task", new_task_path(list_id: list.id), class: "btn btn-default" %>
  <%= link_to "Edit", edit_list_path(list), class: "btn btn-default" %>
  <%= link_to "Archive", list_path(list), class: "btn btn-default" %>
     <!-- fix this button to archive -->
