<h2><%= form_title %></h2>

<% if task.errors.any? %>
    <% task.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

  <%= form_for(task) do |f| %>
    <label for="title">Title: </label>
    <%=f.text_field :title, placeholder: 'Name your task', class: 'form-control' %>

    <label for="description">Description: </label>
    <%=f.text_area :description, placeholder: 'Any other information you want to include?', class: 'form-control' %>

    <%= f.check_box :completed, class: 'form-control' %>
    <label for="task_completed">Completed?</label>

  <%= f.hidden_field :list_id, value: list_id %>

    <p><div class ='actions text-center'>
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
