<div class='list-form'>
  <div class="row">
    <div class="col s10 offset-s1">
    <h4 class='title'>
      <%= form_title %>
    </h4>

    <% if task.errors.any? %>
        <% task.errors.full_messages.each do |msg| %>
          <p> <%= msg %></p>
        <% end %>
      <% end %>

      <%= form_for(task) do |f| %>
        <%=f.text_field :title, placeholder: 'Name your task', class: 'form-control' %>
        <%=f.text_area :description, placeholder: 'Any other information you want to include?', class: 'materialize-textarea' %>

        <% if params[:list_id] %>
          <%= f.hidden_field :list_id, value: params[:list_id] %>
        <% else %>
          <%= f.hidden_field :list_id %>
        <% end %>

        <% unless task.persisted? %>
          <%= f.hidden_field :parent_task_id, value: params.fetch(:parent_task_id, task.parent_task_id) %>
        <% end %>

        <p><div class ='new-list-btn'>
          <%= f.submit class: 'btn' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
