<% if user.errors.any? %>
    <% user.errors.full_messages.each do |msg| %>
      <p> <%= msg %></p>
    <% end %>
  <% end %>

<div id="clearance" class="sign-up">
  <div class='sign-form'>
    <div class='sign-title'>
      <h4>Edit Your Account</h4></div>

      <%= form_for user, url: user_path, html: { multipart: true } do |form| %>
        <%= render partial: '/users/form.html.erb', locals: { form: form, user: user } %>

        <label for="birthday">Birthday </label>
        <%= form.date_field :birthday, class: 'datepicker' %>

        <label for="phone_number">Phone Number </label>
        <%= form.telephone_field(:phone_number) %>

        <label for="about_me">About </label>
        <%= form.text_area :about_me, class: 'form-control' %>

        <label for="avatar">Profile Picture </label>
        <div class="avatar-upload">
          <%= form.file_field :avatar %>
        </div>

      <div class="submit-field">
        <p class='sign-submit'>
          <%= form.submit "Submit", class: 'btn'%>
        </p>
      </div>
    <% end %>
  </div>
</div>
