<div class="row">
  <div class="col s12 m6">
    <% if @user.avatar %>
      <%= image_tag @user.avatar.url(:thumb) %>
    <% end %>
    <p>Welcome <%= current_user.name.capitalize %>!</p>
  </div>

    <div class="col s12 m6">
      <%= @user.email %>
      <%= @user.birthday %>
      <%= @user.phone_number %>

      <p><% if signed_in? %>
        <%= link_to "Sign Out", sign_out_path, method: :delete %>
      <% end %></p>

    <%= link_to "Edit Profile", edit_user_path %>
  </div>
</div>

<div class="row">
  <%= @user.about_me %>
</div>
