<header class="main-header">
  <nav>
    <div class="row">
      <div class="col s12">
        <div class="col s3 m3">
          <p class="header-title"><h5><%= link_to "listless", root_path %></h5></p>
        </div>
        <div class="col s3 m2">
          <%= link_to lists_path do %>
          <i class="material-icons">list</i>
          <% end %>
        </div>
        <div class="sign-in-out-up col s3 m2">
          <%= link_to current_user do %>
          <i class="material-icons">perm_identity</i>
          <% end %>
        </div>
        <div class="how-to col s3 m2">
          <%= link_to '/about' do %>
          <i class="material-icons">info</i>
          <% end %>
        </div>

        <div class="col m3 hide-on-small-only">
          <div class="nav-wrapper">
            <div class="input-field">
              <div class="search-box">
                <%= form_tag(:search, method: :get) do %>
                  <%= search_field_tag :query, nil, class: "search full-width", id: "searchbar" %>
                  <%= label_tag :query do %>
                    <i class="material-icons">search</i>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
