<%= form_for(permission) do |f| %>
  <div><label for="user_id">Give a User Additional Access: </label>
  <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :name) %></div>

  <div><%= f.check_box(:all_access, {}, true, false) %>
  <label for="permission_all_access">All Access? </label></div>

  <%= f.hidden_field :list_id, value: list_id %>

  <div>
    <%= f.submit class: "waves-effect waves-light btn" %>
  </div>
<% end %>
